.menu-container{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: flex-end;
    background-color: black;
    opacity: .8;
}

.menu-item-1{
    min-width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Montserrat-Regular;
    font-size: 1.2em;
    font-weight: 200;
    color: rgb(255, 255, 255);
    text-shadow: black;
    text-transform: uppercase;
}

.menu-item-2{
    min-width: 150px;
    margin: 10px;
    font-family: Montserrat-Regular;
    font-size: 1em;
    font-weight: 200;
    color: rgb(255, 255, 255);
    text-shadow: black;
    text-transform: uppercase;
}
.menu-item-3{
    min-width: 150px;
    margin: 10px;
    font-family: Montserrat-Regular;
    font-size: 1em;
    font-weight: 200;
    color: rgb(255, 255, 255);
    text-shadow: black;
    text-transform: uppercase;
}
.title-container{
    display: flex;
    flex-direction: column;
    /*background-color: red;*/
    background: url(image/IMG_2649.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:rgba(175, 252, 248, 0.692);
    min-height: max-content;
    max-width: 100%;
}
.title-top-space{
    min-height: 150px;
    background-color: transparent;
    flex-grow: 1;
}

.title-header{
    width: 100%;
    min-height: 30px;
    /*background-color: violet;
    opacity: .5;*/
    text-align: center;
    align-items: baseline;
    font-family: Montserrat-Bold;
    font-size: 2.5em;
    font-weight: 300;
    color: rgb(24,24,24);
    text-shadow: black;
    text-transform: uppercase;
}

.title-subheader{
    width: 100%;
    min-height: 30px;
    /*background-color: yellow;
    opacity: .5;*/
    text-align: center;
    align-items: baseline;
    font-family: Montserrat-Regular;
    font-size: 2em;
    font-weight: 200;
    color: rgb(24,24,24);
    text-shadow: black;
    text-transform: uppercase;
}

.title-bottom-space{
    height: 150px;
    /*background-color: seagreen;
    opacity: .1;*/
    flex-grow: 1;
}

.skills-title{
    display: flex;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    font-family: Montserrat-Bold;
    font-size: 2em;
    font-weight: 300;
    background-color: rgb(24,24,24);
    opacity: .8;
    color: rgb(255, 255, 255);

}

.skills-container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-top: 50px;
}

.skill-item{
    display: flex;
    min-width: 250px;
}

.skill-icon{
    min-width: 80px;
}

#skill-image{
    width: 80px;
    height: 80px;
    justify-content: center;
}

.skill-img{
    
}

.skill-name{
    min-width: 100px;
    margin-left: 10px;
    margin-top: 30px;
    align-items: center;
    font-family: Montserrat-Medium;
    font-size: 1.2em;
    font-weight: 300;
    color: rgb(24,24,24);
    /*background-color: cornflowerblue;*/
}