@font-face {
    font-family: Roboto-Regular;
    src: url(fonts/roboto-regular.ttf);
}


@font-face {
    font-family: Roboto-Black;
    src: url(fonts/roboto-black.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(fonts/roboto-bold.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(fonts/montserrat-regular.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(fonts/montserrat-bold.ttf);
}

@font-face {
    font-family: Montserrat-Thin;
    src: url(fonts/montserrat-thin.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(fonts/montserrat-medium.ttf);
}